.supa-mobile .modal-backdrop {
  z-index: 0; }
.supa-mobile .bootcards-summary-item {
  background-color: white;
  padding: 10px; }
.supa-mobile #profile-pic {
  margin-top: 30px;
  margin-left: 30px;
  width: 100px;
  height: 100px;
  border-radius: 50%; }
.supa-mobile #profile-bg {
  background-image: url("/img/pattern_profile.png"); }
  .supa-mobile #profile-bg #profile-name {
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 0px;
    color: white; }
  .supa-mobile #profile-bg #profile-greet {
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 20px;
    color: white; }
